.change-password-form {
    text-align: center;
}

.complete-button {
    text-align: center;
    margin-top: auto;
    color: #fffcf4;
    cursor: pointer;
}

.pwd-input-box {
    margin: 25px !important;
}